@{
    ViewData["Title"] = "Home Page";
}

@model List<Student>
<h1 class="display-6 text-primary">Yeni Öğrenci Ekle</h1>
<div class="mb-3 w-25">
    <form id="add-student-form">
        <input class="form-control mb-2" type="text" id="first-name" placeholder="Öğrenci Adı" />
        <input class="form-control mb-2" type="text" id="last-name" placeholder="Öğrenci Soyadı" />
        <input class="form-control mb-2" type="text" id="student-number" placeholder="Öğrenci Numarası" />
        <button type="submit" class="btn btn-success">Kaydet</button>
    </form>
</div>

<div id="student-list">
    @await Html.PartialAsync("_StudentListPartial",Model);
</div>
@section Scripts{
    <script>
        $(document).ready(function () 
        {
            $("#add-student-form").submit(function (e) 
            {
                e.preventDefault();
                let firstName = $("#first-name").val();
                let lastName = $("#last-name").val();
                let studentNumber = $("#student-number").val();

                $.ajax({
                    url:'/Home/AddStudent',
                    type:'POST',
                    data: {
                        firstName:firstName,
                        lastName:lastName,
                        studentNumber:studentNumber
                    },
                    success: function (response) {
                        $("#student-list").html(response);
                        $("#first-name").val('');
                        $("#last-name").val('');
                        $("#student-number").val('');
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            })
        });
    </script>
}
@section Styles{
    <script>
        const changeIsActive = function (studentId) {
            let isActiveElement = `#is-active-${studentId}`;
            $.ajax(
                {
                    url:`/Home/ChangeIsActive/${studentId}`,
                    type:'GET'
                    success: function (response) { 
                        $(isActiveElement).attr("checked", response == true ? "checked" : "");
                    },
                    error: function (err) {
                        console.log(err);
                    }
                }
            )
        }
    </script>
}