<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Kitaplar</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index" target="_blank">Yönet</a>
</li>