
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Image Upload App</h1>
    <form
        asp-area="" asp-controller="Home" asp-action="ImageUpload" method="post" enctype="multipart/form-data" 
    >
        <div class="mb-3 w-25 m-auto">
            <label for="image" class="btn btn-primary">Resim seçiniz</label>
            <input class="form-control d-none" type="file" id="image" name="image">
            <div class="mt-3">
                <img id="img-viewer" class="img-fluid" style="height:200px;" />
                <label id="img-name"></label>
            </div>
        </div>
        <button class="btn btn-success" type="submit">Gönder</button>
    </form>


</div>

@section Scripts{
    <script>
        // const imageInput = document.GetElementById("image");
        // imageInput.addEventListener("change", function () {

        // });
        $("#image").on("change", function(e) {
            const selectedFiles = e.target.files;
            $("#img-viewer").attr("src", window.URL.createObjectURL(selectedFiles[0]));
            $("img-name").text(selectedFiles[0].name);
        });
    </script>
    
}
